<input
  type="text"
  [(ngModel)]="searchText"
  (keyup.enter)="searchissue()"
  placeholder="Search:Open Issues"
  class="search"
/>

<table>
  <div class="align-div">
    <div>Open</div>
    <div>closed</div>
    <div>Filter</div>
  </div>
  <tr *ngFor="let item of data" (click)="other(item.number)">
    <td>
      {{ item.title }}

      <span class="lbl" (click)="searchByLabel($event.target.innerText, $event)">
        {{ item.labels.length ? item.labels[0].name : "" }}
      </span>
    </td>
  </tr>
</table>

<div class="pagination">
  <a href="#" (click)="updateList('prev')">Prev</a>
  <a href="#" (click)="updateList('first')">1</a>
  <a href="#" (click)="updateList('second')">2</a>
  <a href="#" (click)="updateList('third')">3</a>
  <a href="#" (click)="updateList('next')">Next</a>
</div>
